.mixed-chart, .profit, .donut {
    padding: 2rem;
    box-shadow: 0 0 3px 4px rgb(240, 235, 235);
    padding: 1.5rem;
    border-radius: 8px;
    font-size: 1.3rem;
    background: white;
    // color: rgb(169, 91, 169);
    justify-content: center;
    text-align: center;
}
